<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bercesto">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bercesto"
        tools:targetApi="31">
        <activity
            android:name=".paroladegistir"
            android:exported="false" />
        <activity
            android:name=".hesapdetay"
            android:exported="false" />
        <activity
            android:name=".hesabim"
            android:exported="false" />
        <activity
            android:name=".satinalma"
            android:exported="false" />
        <activity
            android:name=".sepet2"
            android:exported="false" />
        <activity
            android:name=".sepet"
            android:exported="false" />
        <activity
            android:name=".urun"
            android:exported="false" />
        <activity
            android:name=".urunler"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".kayitol2"
            android:exported="false" />
        <activity
            android:name=".kayitol"
            android:exported="false" />
        <activity
            android:name=".girisyap"
            android:exported="false" />
        <activity
            android:name=".acilis"
            android:exported="false" />
        <activity
            android:name=".anasayfa"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>